@using App.Domain.Core.HomeService.Dtos
@model List<OrderDto>

<h3>لیست سفارشات</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>شناسه</th>
            <th>تاریخ ساخت</th>
            <th>نام مشتری</th>
            <th>سرویس</th>
            <th>نام متخصص</th>
            <th>قیمت سرویس</th>
            <th>آدرس مشتری</th>
            <th>زمان مراجعه متخصص به محل</th>
            <th>وضعیت سفارش</th>
            <th>اعمالات</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.CreatedAt</td>
                <td>@order.CustomerUserName</td>
                <td>@order.ServiceName</td>
                <td>@order.FinalExpertUserName</td>
                <td>@order.ServiceBasePrice هزارتومان</td>
                <td>@order.SerivceAddress</td>
                <td>@order.ServiceDate</td>
                <td>
                    @*@if (order.FinalExpertUserId == null)
                        {
                        <span>	منتظر پیشنهاد متخصصان</span>
                        }*@
                    @*else*@
                    {
                    @order.StatusName
                    }
                </td>
                <td>
                    @if (order.AppFiles.Count>0)
                    {
                        <img src="~/img/order/@order.AppFiles.FirstOrDefault().FileAddress" width="200px">
                    }
                    else
                    {
                        <img src="~/img/photos/ServicePic.jpeg" width="200px" />
                    }

                </td>
                <td>
                    <a asp-controller="Order" asp-action="BidsList" asp-route-orderId="@order.Id" asp-route-expertUserId="@order.FinalExpertUserId" class="btn btn-info">نمایش پیشنهادات</a>
                    <a asp-controller="Order" asp-action="Detail" asp-route-orderId="@order.Id"  class="btn btn-info">جزئیات</a>
                    <a asp-controller="Order" asp-action="Edit" asp-route-id="@order.Id" class="btn btn-warning">ویرایش</a>
                    <a asp-controller="Order" asp-action="Delete" asp-route-id="@order.Id" class="btn btn-danger">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>